.slick-arrow:before {
  color: black;
}

#root {
  padding: 2.5rem 2.5rem 0 2.5rem;
  width: 1820px;
}

body {
  background-image: url("./assets/images/MainBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1830px;
}

.row {
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
  font-size: 24px;
  margin-top: 1rem;
}